<%- include('partials/header') %>

  <div class="container">
    <% if (format==='cards' ) {%>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% contacts.forEach(c => { %>
          <div class="col">
            <%- include('partials/card', {contact: c}) %>
          </div>
          <% }) %>
      </div>
      <% } else { %>
        <%- include('partials/table') %>
          <% contacts.forEach(c => { %>
            <%- include('partials/row', {contact: c}) %>
              <% }) %>
                </tbody>
              </table>
            </div>
    <% } %>
  </div>

<%- include('partials/footer') %>