<%- include('partials/header') %>
<div class="container bg-dark text-white rounded">
  <main>
    <h1><%=title%></h1>
    <hr>
    <div class="container m-10">
      <p class="display-6">Contato individual</p>
        <div class="card" style="width: 16rem; display: inline-block; margin: 10px;">
          <div class="card-body">
            <h4 class="card-title"><%= contact.nome %></h4>
            <p class="card-text">Telefone: <%= contact.telefone %></p>
            <p class="card-text">Email: <%= contact.email %></p>
            <a href="/single/" class="card-link"><img src="https://www.svgrepo.com/show/36202/searching-a-person.svg" width="30px"></a>
            <% if (contact.favorito) { %>
             <img src="https://www.svgrepo.com/show/487368/favorite-profile.svg" alt="Favorito" width="30px">
            <% } %>
          </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>